@charset "utf-8";
/* CSS Document */

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}
/*******************************************************************************
* BUTTONS - Login
********************************************************************************/

a.buttonlogin {
	color: #FFFFFF;
	display: block;
	float: right;
	height: 19px;
	margin-right: 10px;
	padding-right: 6px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/assets/unmanaged/images/buttons/button_reg_a_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-family: arial, sans-serif;
	font-size: .9em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
}

a.buttonlogin span {
	display: block;
	line-height: 9px;
	background-color: transparent;
	background-image: url(/assets/unmanaged/images/buttons/button_reg_span_left.gif);
	background-repeat: no-repeat;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 12px;
	color: #FFFFFF;
} 

a.buttonlogin:hover {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none; /* hide dotted outline in Firefox */
	text-decoration: none;
}

a.buttonlogin:hover span {
	background-position: bottom left; /* push text down 1px */
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 12px;
	color: #FFFFFF;
	text-decoration: none;
} 

/*******************************************************************************
* BUTTONS - Header
********************************************************************************/

a.buttonheader {
	color: #FFFFFF;
	display: block;
	height: 19px;
	margin-right: 10px;
	padding-right: 6px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/assets/unmanaged/images/buttons/button_header_both_a_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-family: arial, sans-serif;
	font-size: 0.685em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
	margin-left: 10px;
	float: left;
}

a.buttonheader span {
	display: block;
	line-height: 9px;
	background-color: transparent;
	background-image: url(/assets/unmanaged/images/buttons/button_header_both_span_left.gif);
	background-repeat: no-repeat;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 12px;
	color: #000000;
} 

a.buttonheader:hover {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none; /* hide dotted outline in Firefox */
	text-decoration: none;
}

a.buttonheader:hover span {
	background-position: bottom left; /* push text down 1px */
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 12px;
	color: #000000;
	text-decoration: none;
} 

/*******************************************************************************
* BUTTONS - Secure Header
********************************************************************************/


a.buttonSecHeader {
	color: #FFFFFF;
	display: block;
	height: 19px;
	margin-right: 10px;
	padding-right: 6px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/assets/unmanaged/images/buttons/button_reg_a_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-family: arial, sans-serif;
	font-size: 0.685em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
	float: right;
	margin-left: 10px;
}

a.buttonSecHeader span {
	display: block;
	line-height: 9px;
	background-color: transparent;
	background-image: url(/assets/unmanaged/images/buttons/button_reg_span_left.gif);
	background-repeat: no-repeat;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 12px;
	color: #FFFFFF;
} 

a.buttonSecHeader:hover {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none; /* hide dotted outline in Firefox */
	text-decoration: none;
}

a.buttonSecHeader:hover span {
	background-position: bottom left; /* push text down 1px */
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 12px;
	color: #FFFFFF;
	text-decoration: none;
} 
