
#content3 .caption {
   text-align:right;
   padding-right:10px;
   width:193px;
   vertical-align:middle;

}
#content3 .question {
   padding-top:15px;
   padding-bottom:15px;

}
#content3 .values {
	font-weight: bold;
}
