#page_contentNoBG {
    min-height: 300px;
    padding: 0;
    width: 918px;
    margin-top: 4px;
    margin-right: 25px;
    margin-bottom: 0;
    margin-left: 25px;
    background-color: #fff;
    background-image: none;
}
#contentOuterWrapper #contentWrapper #partnerContentTitle {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 610px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 0px;
    height: 60px;
}
#partnerContentTitle h6 a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    color: #666;
    float: right;
}
#partnerContentTitle p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#contentOuterWrapper #contentWrapper #partnerContentIntro {
    width: 610px;
    padding-right: 5px;
    padding-left: 25px;
    padding-bottom: 10px;

}
#partnerContentIntro p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
}

/* Contains the main page content. When using a mutliple column layout the margins will be set to account for the floated columns' width, margins, and padding. */
#contentOuterWrapper #contentWrapper #partnerContent {
    margin-top: 0;
    margin-right: 279px;
    margin-bottom: 0;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}

#contentOuterWrapper #contentWrapper #partnerContentYellowTitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFF;
    background-color: #717b80;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #febe10;
    width: 610px;
    padding-right: 5px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#contentOuterWrapper #contentWrapper #partnerContent p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#contentOuterWrapper #contentWrapper #partnerContent h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#contentOuterWrapper #contentWrapper #partnerContent h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #000;
    padding-top: 0px;
}

#contentOuterWrapper #contentWrapper #partnerContent #item h2 a   {
    color: #006990;
    font-size: 14px;
    text-decoration: none;
}
#contentOuterWrapper #contentWrapper #partnerContent #item h2 a:hover   {
    color: #000;
} 


#contentOuterWrapper #contentWrapper #partnerContent #item {
    background-image: url(/assets/unmanaged/images/backgrounds/itemsBG1.png);
    background-repeat: repeat-x;
    height: 86px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #f1f1ea;
    border-bottom-color: #f1f1ea;
    border-left-color: #f1f1ea;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #FEFEFD;
}
#contentOuterWrapper #contentWrapper #partnerContent #item2 {
    background-image: url(/assets/unmanaged/images/backgrounds/itemsBG2.png);
    background-repeat: repeat-x;
    height: 86px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #e1e1e1;
    border-bottom-color: #e1e1e1;
    border-left-color: #e1e1e1;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #F4F4F4;
}


#partnerContent img {
    margin-right: 0px;
}
#partnerContent td {
    font-size: 0.7em;
    padding: 3px;
}

#contentOuterWrapper #contentWrapper #overview {
    margin-left: 0px;
    margin-top: 10px;
}
#contentOuterWrapper #contentWrapper #overview img{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
#contentOuterWrapper #contentWrapper #overview p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#contentOuterWrapper #contentWrapper #overview h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#contentOuterWrapper #contentWrapper #overview h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #000;
    padding-top: 0px;
}

#contentOuterWrapper #contentWrapper #rightColumn1 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#contentOuterWrapper #contentWrapper #rightColumn1 ul li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
}
#contentOuterWrapper #contentWrapper #rightColumn1 ul li:first-child{
                border-top:none;
            }
            
/* Note: Box1 */

#contentOuterWrapper #contentWrapper #overview #mod1 {
    background-color: #f5f6f1;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #febe10;
    height: 250px;
    width: 290px;
    clear: left;
    float: left;
    margin: 0px;
}
#contentOuterWrapper #contentWrapper #overview #mod1 h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
#contentOuterWrapper #contentWrapper #overview #mod1 p {
    padding-left: 15px;
    font-size: 14px;
    color: #000;
}
#contentOuterWrapper #contentWrapper #overview #mod1 ul {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
#contentOuterWrapper #contentWrapper #overview #mod1 ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cac8c4;
    font-size: 11px;
    padding-left: 0px;
}
#contentOuterWrapper #contentWrapper #overview #mod1 ul li:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
/* Note: Box2 */

#contentOuterWrapper #contentWrapper #overview #mod2 {
    background-color: #f5f6f1;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #febe10;
    height: 250px;
    width: 290px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
#contentOuterWrapper #contentWrapper #overview #mod2 h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
#contentOuterWrapper #contentWrapper #overview #mod2 p {
    padding-left: 15px;
    font-size: 14px;
    color: #000;
}
#contentOuterWrapper #contentWrapper #overview #mod2 ul {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
#contentOuterWrapper #contentWrapper #overview #mod2 ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cac8c4;
    font-size: 11px;
    padding-left: 0px;
}
#contentOuterWrapper #contentWrapper #overview #mod2 ul li:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
/* Note: Box3 */

#contentOuterWrapper #contentWrapper #overview #mod3 {
    background-color: #f5f6f1;
    border-top-width: 4px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #febe10;
    height: 250px;
    width: 290px;
    float: right;
    clear: right;
}
#contentOuterWrapper #contentWrapper #overview #mod3 h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
#contentOuterWrapper #contentWrapper #overview #mod3 p {
    padding-left: 15px;
    font-size: 14px;
    color: #000;
    padding-right: 15px;
}
#contentOuterWrapper #contentWrapper #overview #mod3 ul {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
#contentOuterWrapper #contentWrapper #overview #mod3 ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cac8c4;
    font-size: 11px;
    padding-left: 0px;
}
#contentOuterWrapper #contentWrapper #overview #mod3 ul li:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}





#contentOuterWrapper #contentWrapper #rightColumnOverview {
    float: right;
    padding: 10px; /* Sets the padding properties for an element using shorthand notation (top, right, bottom, left) */
    width: 270px;
    color: #FFFFFF;
    background-color: #455560;
    margin-top: 0px;
    margin-right: 0px;
    clear: right;
}
#rightColumnOverview h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    padding: 0px;
    color: #FFFFFF;

}
 #rightColumnOverview h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.4em;
    font-weight: normal;
    color: #dcd087;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    line-height: 1.2em;

}
#rightColumnOverview p {
    color: #FFFFFF;
    font-size: 11px;
    padding: 0px;
}
#rightColumnOverview a:link, a:visited{
    text-decoration: none;
} 
#rightColumnOverview a:hover, a:active{
    color: #666;
    text-decoration: underline;
} 
#rightColumnOverview ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#rightColumnOverview ul li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
}
#rightColumnOverview ul li:first-child{
                border-top:none;
            }
            
#rightColumnOverview h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    padding: 0px;
}
#rightColumnOverview h5 .date {
    font-size: 11px;
    font-weight: normal;
}

#rightColumnOverview a {
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
}
#rightColumnOverview a:hover {
    font-size: 11px;
    color: #dcd087;
    text-decoration: underline;
}
#rightColumnOverview.selected {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#contentOuterWrapper #contentWrapper #overview #mod3 p a {
    font-size: 12px;
    font-weight: bold;
}
#contentOuterWrapper #contentWrapper #overview #mod2 p a {
    font-size: 12px;
    font-weight: bold;
}
#contentOuterWrapper #contentWrapper #overview #mod1 p a {
    font-size: 12px;
    font-weight: bold;
}
#rightColumnOverview ul li a {
    text-decoration: none;
}
#contentOuterWrapper #contentWrapper #overview #mod1 ul li a {
    color: #006990;
    text-decoration: none;
    font-size: 11px;
}
#contentOuterWrapper #contentWrapper #overview #mod1 ul li a:hover {
    color: #000000;
}
#contentOuterWrapper #contentWrapper #overview #mod2 ul li a {
    color: #006990;
    text-decoration: none;
    font-size: 11px;

}
#contentOuterWrapper #contentWrapper #overview #mod2 ul li a:hover {
    color: #000000;
}
#contentOuterWrapper #contentWrapper #overview #mod3 ul li a {
    color: #006990;
    text-decoration: none;
    font-size: 11px;
}
#contentOuterWrapper #contentWrapper #overview #mod3 ul li a:hover {
    color: #000000;
}#contentTitle h6 a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    float: right;
}
#partnerContent hr {
    background-color: #FFF;
    height: 1px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
}
#partnerContent h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: normal;
    color: #91822B;
}
#partnerContent #footer {
    font-family: Verdana, Geneva, sans-serif;
    color: #767690;
    font-size: 11px;
    margin-top: 40px;
}
#partnerContent #footer p {
    font-family: Verdana, Geneva, sans-serif;
    color: #a8b8da;
    font-size: 11px;
}




/*******************************************************************************
* PAGE CONTENT DETAILS
********************************************************************************/



#contentOuterWrapper #contentWrapper #partnerContentDetails {
    margin-top: 0;
    margin-right: 280px;
    margin-bottom: 0;
    margin-left: 250px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
}
#partnerContentDetails p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetails h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#partnerContentDetails h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #000;
    padding-top: 0px;
}


#partnerContentDetails  img {
    border: 1px solid #CCC;
    margin-right: 8px;
}
#partnerContentDetails  td {
    font-size: 0.7em;
    padding: 3px;
}
#partnerContentDetails  ul {
    font-size: 12px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
#partnerContentDetails  ol li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
    color: #455560;
}
/*******************************************************************************
* PAGE CONTENT CALCULATOR & TOOLS
********************************************************************************/

#contentOuterWrapper #contentWrapper #partnerContentDetailsCalc {
    margin-top: 15px;
    margin-right: 280px;
    margin-bottom: 0;
    margin-left: 0px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
}
#contentOuterWrapper #contentWrapper #partnerContentDetailsCalc p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#contentOuterWrapper #contentWrapper #partnerContentDetailsCalc h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#contentOuterWrapper #contentWrapper #rightColumn1img {
    clear: right;
    float: right;
    width: 250px;
    margin-top: 15px;
}
#rightColumn1img img {
    border: 1px solid #ECEAE3;
}

#contentOuterWrapper #contentWrapper #rightColumnOverviewWant {
    float: right;
    padding: 10px; /* Sets the padding properties for an element using shorthand notation (top, right, bottom, left) */
    width: 270px;
    color: #FFF;
    background-color: #8d8778;
    margin-top: 10px;
    margin-right: 0px;
    clear: right;
}
#rightColumnOverviewWant h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    padding: 0px;
    color: #000;
}
 #rightColumnOverviewWant h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.4em;
    font-weight: normal;
    color: #FFF;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    line-height: 1.2em;

}
#rightColumnOverviewWant p {
    color: #FFF;
    font-size: 11px;
    padding: 0px;
}

#rightColumnOverviewWant a {
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
}
#rightColumnOverviewWant a:hover {
    font-size: 11px;
    color: #dcd087;
    text-decoration: underline;
}
#rightColumnOverviewWant ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#rightColumnOverviewWant ul li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
}
#rightColumnOverviewWant ul li:first-child{
                border-top:none;
            }
            
#rightColumnOverviewWant h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    padding: 0px;
}
#rightColumnOverviewWant h5 .date {
    font-size: 11px;
    font-weight: normal;
}


#rightColumnOverviewWant.selected {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.downloadAPEX .form_link h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    margin-left: 5px;
    margin-bottom: 7px;
}
.downloadEXPERT .form_link h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: normal;
    color: #000;
    margin-bottom: 7px;
}
.downloadEXPERT .form_link h2 {
    font-size: 12px;
    font-weight: normal;
    color: #1F2B38;
    margin-bottom: 7px;
    line-height: 12px;
}
.downloadEXPERTarchive .form_link h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    color: #dcd087;
    margin-bottom: 7px;
}
.downloadEXPERTarchive .form_link h2 {
    font-size: 12px;
    font-weight: normal;
    color: #FC0;
    margin-left: 5px;
    margin-bottom: 7px;
    line-height: 12px;
}
.downloadEXPERTarchive .form_link ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.downloadEXPERTarchive .form_link ul li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
}
.downloadEXPERTarchive .form_link ul li:first-child{
                border-top:none;
            }
            .downloadEXPERTarchive .form_link ul li a {
    font-size: 11px;
    color: #FFF;
    text-decoration: underline;
}
.downloadEXPERTarchive .form_link ul li a:hover {
    font-size: 11px;
    color: #dcd087;
    text-decoration: underline;
}
.downloadLINK .form_link h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    margin-left: 5px;
    margin-bottom: 7px;
}
.downloadEXPERTarchive .form_link a {
    color: #FFF;
    font-size: 11px;
    text-decoration: underline;
}
/*******************************************************************************
* PAGE CONTENT APEX
********************************************************************************/
#contentOuterWrapper #contentWrapper #partnerContentTitleAPEX {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 620px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 0px;
    height: 250px;
    background-image: url(../../business_building/ApexBar2.jpg);
    background-repeat: no-repeat;
    background-position: left 10px;
    background-color: #FFF;
}
 #partnerContentTitleAPEX h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
#partnerContentTitleAPEX h6 a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    color: #666;
    float: right;
}
#partnerContentTitleAPEX p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#contentOuterWrapper #contentWrapper #partnerContentDetailsAPEX {
    margin-top: 0;
    margin-right: 280px;
    margin-bottom: 0;
    margin-left: 0px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    background-color: #f5f6f1;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #C0AA7C;
}
#partnerContentDetailsAPEX p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsAPEX h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsAPEX h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#partnerContentDetailsAPEX h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #000;
    padding-top: 0px;
}



#partnerContentDetailsAPEX  img {
    border: 1px solid #CCC;
    margin-right: 8px;
}
#partnerContentDetailsAPEX  td {
    font-size: 0.7em;
    padding: 3px;
}
#partnerContentDetailsAPEX  ul {
    font-size: 12px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
#partnerContentDetailsAPEX  ol li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
    color: #455560;
}
/*******************************************************************************
* PAGE CONTENT LINK
********************************************************************************/
#contentOuterWrapper #contentWrapper #partnerContentTitleLINK {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 620px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 0px;
    height: 250px;
    background-image: url(../../business_building/imageAD2.jpg);
    background-repeat: no-repeat;
    background-position: left 0px;
    background-color: #FFF;
}
 #partnerContentTitleLINK h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
#partnerContentDetailsLINK h6 a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    color: #666;
    float: right;
}
#partnerContentDetailsLINK p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#contentOuterWrapper #contentWrapper #partnerContentDetailsLINK {
    margin-top: 0;
    margin-right: 280px;
    margin-bottom: 0;
    margin-left: 0px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    background-color: #f5f6f1;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #1F2C39;
}
#partnerContentDetailsLINK p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsLINK h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsLINK h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    
}
#partnerContentDetailsLINK h2 a {
    font-size: 15px;
    color: #006990;
    text-decoration: none;
}
#partnerContentDetailsLINK h2 a:hover {
    color: #000000;
}

#partnerContentDetailsLINK h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #000;
    padding-top: 0px;
}



#partnerContentDetailsLINK  img {
    margin-right: 8px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
#partnerContentDetailsLINK  td {
    font-size: 0.7em;
    padding: 3px;
}
#partnerContentDetailsLINK  ul {
    font-size: 12px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
#partnerContentDetailsLINK  ol li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
    color: #455560;
}
/*******************************************************************************
* PAGE CONTENT ASK THE EXPERT
********************************************************************************/
#contentOuterWrapper #contentWrapper #partnerContentTitleEXPERT {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 620px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 0px;
    height: 250px;
    background-image: url(../../business_building/imageAD.jpg);
    background-repeat: no-repeat;
    background-position: left 0px;
    background-color: #FFF;
}

 #partnerContentTitleEXPERT h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
#partnerContentDetailsEXPERT h6 a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    color: #666;
    float: right;
}
#partnerContentDetailsEXPERT p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#contentOuterWrapper #contentWrapper #partnerContentDetailsEXPERT {
    margin-top: 0;
    margin-right: 280px;
    margin-bottom: 0;
    margin-left: 0px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    background-color: #f5f6f1;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #1F2B38;
}
#partnerContentDetailsEXPERT p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsEXPERT h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsEXPERT h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsEXPERT h2 a {


    font-size: 15px;
    color: #006990;
    text-decoration: none;
}
#partnerContentDetailsEXPERT h2 a:hover {
    color: #000000;
}

#partnerContentDetailsEXPERT h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #000;
    padding-top: 0px;
}



#partnerContentDetailsEXPERT  img {
    margin-right: 8px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
#partnerContentDetailsEXPERT  td {
    font-size: 0.7em;
    padding: 3px;
}
#partnerContentDetailsEXPERT  ul {
    font-size: 12px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
#partnerContentDetailsEXPERT  ol li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
    color: #455560;
}


/*******************************************************************************
* PAGE CONTENT CALCULATORS
********************************************************************************/

#contentOuterWrapper #contentWrapper #partnerContentTitleCalculators {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 620px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 0px;
    height: 235px;
    background-image: url(../../business_building/tools_calcs.jpg);
    background-repeat: no-repeat;
    background-position: left 0px;
    background-color: #FFF;
}
 #partnerContentTitleCalculators h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
/*******************************************************************************
* PAGE CONTENT I WANT TO....
********************************************************************************/
#contentOuterWrapper #contentWrapper #partnerContentTitleWANT {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 609px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 0px;
    height: 175px;
    background-image: url(../../business_building/top_short_img.jpg);
    background-repeat: no-repeat;
    background-position: left 0px;
}
#contentOuterWrapper #contentWrapper #partnerContentTitleWANTNoImg {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 609px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 0px;
    height: 45px;
    background-color: #717b80;
    color: #FFF;
}
#contentOuterWrapper #contentWrapper #partnerContentTitleWANTImg2 {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 609px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 0px;
    height: 175px;
    background-image: url(../../business_building/top_short_img2.jpg);
    background-repeat: no-repeat;
    background-position: left 0px;
}
 #partnerContentTitleWANTImg2 h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
 #partnerContentTitleWANT h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
#partnerContentDetailsWANT h6 a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    color: #666;
    float: right;
}
#partnerContentDetailsWANT p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#contentOuterWrapper #contentWrapper #partnerContentDetailsWANT {
    margin-top: 0;
    margin-right: 280px;
    margin-bottom: 0;
    margin-left: 0px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    background-color: #f5f6f1;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #1F2B38;
}
#partnerContentDetailsWANT p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsWANT h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsWANT h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#partnerContentDetailsWANT h2 a {
    font-size: 11px;
    color: #006990;
    text-decoration: none;

}
#partnerContentDetailsWANT h2 a:hover {
    font-size: 11px;
    color: #006990;
    text-decoration: underline;
    font-family: Verdana, Geneva, sans-serif;

}
#partnerContentDetailsWANT h4 a {
    font-size: 15px;
    color: #006990;
    text-decoration: none;
    font-weight: normal;

}
#partnerContentDetailsWANT h4 a:hover {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;

}
#partnerContentDetailsWANT h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 10px;
}
#partnerContentDetailsWANT h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #000;
    padding-top: 0px;
}
#partnerContentDetailsWANT  h4
 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    padding-bottom: 0px;
    padding-left: 0px;
    color: #000;
    padding-top: 0px;
}


#partnerContentDetailsWANT h5 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    color: #930;
}


#partnerContentDetailsWANT  img {
    margin-right: 8px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
#partnerContentDetailsWANT  td {
    font-size: 0.7em;
    padding: 3px;
}
#partnerContentDetailsWANT  ul {
    font-size: 12px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
#partnerContentDetailsWANT  ol li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
    color: #455560;
}
#contentOuterWrapper #contentWrapper #rightColumnWANT {
    float: right; /* Sets the padding properties for an element using shorthand notation (top, right, bottom, left) */
    width: 250px;
    color: #FFFFFF;
    background-color: #FFF;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}
div.downloadWANT
{
    width: 200px;
    padding: 13px;
    margin-bottom: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #C4C4C4;
}
.downloadWANT .form_link a .app.downloadIndent {
    font-size: 12px;
    font-weight: bold;
    color: #036;
    display: block;
    margin-bottom: 3px;
}
.downloadWANT .downloadIndent, span.downloadIndent
{
    margin-top: 10px;
}

div.downloadWANTarchive
{
    width: 230px;
    padding: 10px;
    margin-bottom: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #455560;
}
.downloadWANTarchive .form_link a .app.downloadIndent {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    display: block;
    margin-bottom: 3px;
}
.downloadWANTarchive .downloadIndent, span.downloadIndent
{
    margin-left: 5px;
    margin-top: 10px;
}
#page_contentNoBG #contentOuterWrapper #contentWrapper #footer {
    font-family: Verdana, Geneva, sans-serif;
    color: #767690;
    font-size: 11px;
    margin-top: 40px;
    width: 590px;
    padding-right: 25px;
    padding-left: 25px;
}
#page_contentNoBG #contentOuterWrapper #contentWrapper #footer p {
    font-family: Verdana, Geneva, sans-serif;
    color: #a8b8da;
    font-size: 11px;
}
.sm {
    font-size: 11px;
