/*******************************************************************************
*	registration.css
*	Copyright © 2008 John Hancock All Rights Reserved. Designated trademarks and brands are the property of their respective owners.
*
*	Contract Funds specific styles for use with the John Hancock Broker Dealer website.
********************************************************************************/

@import url("screen.css");

/*******************************************************************************
* PAGE SECTIONS
********************************************************************************/

div#page_section_container{
	margin-bottom:5px;
	width:919px;
}

	div#page_section_container h4{
		background: none;
		color:#333333;
		font: normal 1em georgia, times, serif;
		height: 1em;
		margin: 0;
		padding: 10px 0 10px 15px;
	}

	
	div#page_section_container td, 
	div#page_section_container th, 
	div#page_section_container p, 
	div#page_section_container li{
		font-size:.75em;
	}
		
	
	div.page_section{
		float:left;
		width:457px;
	}

div#personal_information_subheader {
	margin-top:20px;
}

fieldset {
	border:0px;
	color:#333;
	font-size:.75em;
	margin-top:10px;
}
	fieldset div.form_row {
		clear:left;
		padding-bottom:10px;
	}
		fieldset div.form_row.spec {
			margin-top:20px;
		}

		fieldset div.form_row label {
			float:left;
			font-weight:bold;
			margin-right:15px;
			padding-top:4px;
			width:130px;
			text-align:right;
		}

			fieldset div.form_row label.required {
				width:141px;
				margin-right:4px;
			}

			fieldset div.form_row label.required span {
				color:#f00;
				padding-left:2px;
			}

			div.required_message {
				color:#f00;
				font-size:.75em;
				font-weight:bold;
				padding:15px 50px 5px 0px;
				text-align:right;
			}

			fieldset div.form_row label.spec {
				display:block;
				float:none;
				padding:0px 0px 5px 0px;
				text-align:left;
				width:450px;
			}

			fieldset div.form_row label.radio_label {
				float:none;
				margin:0px 5px 0px 3px;
				width:auto;
			}

			fieldset div.form_row input {
				width:250px;
			}
				fieldset div.form_row input.no_label {
					margin-left:145px;
				}

	fieldset#personal_information {
	}
		fieldset#personal_information label#extension_label {
			float:none;
			margin:0px 5px 0px 5px;
			width:auto;
		}

		fieldset#personal_information input#registrant_phone,
		fieldset#personal_information input#registrant_fax,
		fieldset#personal_information input#registrant_city{
			width:165px;
		}

		fieldset#personal_information input#registrant_username {
			width:105px;
		}

		fieldset#personal_information input#registrant_zip {
			width:50px;
		}

		fieldset#personal_information input#registrant_extension {
			width:30px;
		}

		fieldset#personal_information input#registrant_preferred_contact_email ,
		fieldset#personal_information input#registrant_preferred_contact_phone ,
		fieldset#personal_information input#registrant_preferred_contact_mail ,
		fieldset#personal_information input#registrant_preferred_contact_fax {
			width:auto;
		}

	fieldset#license_verification {
		text-align:center;
	}
		fieldset#license_verification input#registrant_licensed_no {
			margin-left:50px;
		}

		fieldset#license_verification input#registrant_proceed_step_2 {
			display:block;
			margin:20px auto 0px auto;
		}

	fieldset#membership_login_id input#registrant_security_question,
	fieldset#membership_login_id input#registrant_security_question_answer,
	fieldset#membership_login_id input#registrant_security_question_answer_confirmation {
		width:395px;
	}

	fieldset p#security_question_instructions {
		font-size:1em;
		line-height:1.8em;
		margin:15px 0px 0px 0px;
		padding:0px;
		margin-top:15px;
	}

	div.form_submit {
		width:100%;
		text-align:center;
	}

	div a#skip_bob {
		color:#fff;
		float:right;
		font-size:0.75em;
		padding:12px 15px 0px 0px;
	}

	table.bob_table {
		border-collapse:collapse;
		font-size:1.4em;
		margin-bottom:20px;
		text-align:center;
		width:100%;
	}
		table.bob_table thead {
			background-color:#ECEAE3;
		}

		table.bob_table td,th {
			border-left:1px solid #CAC8C4
		}

		table.bob_table tr.alt_row {
			background-color:#FAFAF8
		}

		table.bob_table thead th:first-child,
		table.bob_table tr td:first-child {
			border-left:none;
		}