/*******************************************************************************
*	secureDocumentUpload.css
*	Copyright © 2008 John Hancock All Rights Reserved. Designated trademarks and brands are the property of their respective owners.
*
*	SDU specific styles for use with the John Hancock Broker Dealer website.
********************************************************************************/

@import url("screen.css");
@import url("container.css");

div#page_section_container{
	background: #fff url('/assets/unmanaged/images/backgrounds/overview_bg.gif') repeat-y top center;
	margin-bottom:5px;
	width:919px;
}

	div#page_section_container h4{
		background: none;
		color:#333333;
		font: normal 1em georgia, times, serif;
		height: 1em;
		margin: 0;
		padding: 10px 0 10px 15px;
	}

	
	div#page_section_container td, 
	div#page_section_container th, 
	div#page_section_container p, 
	div#page_section_container li{
		font-size:.75em;
	}
		
	
	div.page_section{
		float:left;
		width:457px;		
	}
	
	
	div.page_section:first-child{
		margin-right:5px;
	}
	
		div.page_section form{
			margin:0;
		}
		
		div.page_section form fieldset{
			border:none;
			margin:0 auto;
			padding:10px 0;
			width:450px;
		}
		
		div.page_section form p, div.page_section form select{
			float:left;
			width:170px;
		}
		
		
		div.page_section form select{
			margin:0 0 12px 0;
			padding:0;
		}
		
		div#page_content div.page_section p{
			padding-top:15px;
		}
		
		div#page_content div.page_section form p{
			clear:left;
			height:auto;			
			margin:0;
			padding:0 5px 12px 0;
			text-align:right;			
		}
			div.page_section form p label{
				font-weight:bold;
			}



			
	
		