/*******************************************************************************
*	user_management.css
*	Copyright © 2008 John Hancock All Rights Reserved. Designated trademarks and brands are the property of their respective owners.
*
*	Contract Funds specific styles for use with the John Hancock Broker Dealer website.
********************************************************************************/

@import url("screen.css");

div#page_content h2{
}

td.cbx,
th.cbx{
	padding:4px 9px;
	text-align:center;
}
.table_action_buttons{
	width:45%;
}

.page_section_subheader input,
.page_section_subheader #report_custom_modifier{
	
	float:left;
	margin-left: 5px;
	margin-right: 0px;
}


fieldset a.option {
	font-size: 0.6em;
}


fieldset {
	border: 1px solid #ECEAE3;
	margin: 4px 10px 4px 10px;
	padding: 10px;
}

form.page_section_filter {
	padding:0;
	margin-top: 8px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 5px;
	
}

form.page_section_filter select {
	margin:0;
	padding:0;
	
}

.button_header {
	margin-top: 2px;
	
}

.button_header input {
	margin-left: 0;
	margin-top:0px;
}

#page_content .page_section_subheader, 
#page_content .page_section_subsubheader{
	margin-bottom:0px;
}
a#customize_report{
	color:#fff;
	float:left;
	font-size:.75em;
	padding:13px 0 0 33px;
}		
#report_customization_wrapper {
	display:none;
	margin-bottom: 30px;
}
#user_management #page_wrapper #page_content .report_table #report_customization_wrapper h4 {
		background: none;
		color:#333;
		font: normal 1em georgia, times, serif;
		margin: 0;
		padding: 0 0 10px 15px;
	}
	div#bob_overview_report{
	background-color:#f6f4f1;
	margin-top:5px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

#user_management #page_content .page_section_subheader.controls .page_section_filter.form table tr td {
color:#FFFFFF;
padding:1px;
}
#user_management #page_content .page_section_subheader.controls .page_section_filter.form table tr td .buttonheader span {
font-size:11px;
}
#user_management #page_content .page_section_subheader.controls .page_section_filter.form table tr td input {
background-color:#FFFFFF;
border:1px solid #D7DADB;
font-size:10px;
}
#user_management #page_content .page_section_subheader.controls {
height:55px;
}