@CHARSET "ISO-8859-1";
.tableheadTD{
	margin: 0px;
	color: #ffffff;
	padding-left: 6px;
	height: 30px;
	text-align: start;
	font-size:15px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	cursor: pointer;
	position: relative;	
	text-decoration:none;		
}
.tableheadTD1{
	margin: 0px;
	color: #ffffff;
	padding-left: 6px;
	background: #002D62;
	height: 30px;
	text-align: start;
	font-size:15px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	cursor: pointer;
	position: relative;	
	text-decoration:none;	
}
.plus_icon1{
	padding-left: 0px;
}
.minus_icon1{	
	padding-left: 0px;
	display: none;
}
.accordion-content {
	display: none;
	text-decoration:none;
}
.accordion-toggle {
	display: block;
}
.subHeading{
	display: none;
}
.tableheadTD2{	
	text-decoration:none;
	background: #7C97AB;
	FONT-SIZE: 15px;
    font: #000000;
    color: #ffffff;
    font-size:15px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.tdContent{
	FONT-SIZE: 11px;
	padding: 5px; 	
}