.headerGreen {
	color: #FFFFFF;
	background-color: #002F1A;
	padding: 5px;
}
.divider {
	background-color: #FFFFFF;
}
.lightGreen {
	background-color: #ced352;
	padding: 5px;
}
.collight {
	background-color: #EBE7DA;
	padding: 5px;
}
.coldark {
	background-color: #E0D9C5;
	padding: 5px;
}
.headerBlue {
	color: #FFFFFF;
	background-color: #02222f;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
}
.lightBlue {
	background-color: #7d9daa;
}
.lightGreenTitle {
	color: #CED352;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	background-color: #002F1A;
}
.headerGreenCorner {
	color: #FFFFFF;
	background-color: #002F1A;
	padding: 2px;
	font-size: 9px;
	text-align: center;
}
.GreenText {
	color: #002F1A;
	font-size: 12px;
	font-weight: normal;
}
.headerGreenline {

	color: #FFFFFF;
	background-color: #002F1A;
}
.collighttop {

	background-color: #EBE7DA;
}
.headerBlueCorner {

	color: #FFFFFF;
	background-color: #02222f;
	padding: 2px;
	font-size: 9px;
	text-align: center;
}
.collightGrey {

	background-color: #EAEAEA;
	padding: 5px;
}
.coldarkGrey {

	background-color: #D4D4D4;
	padding: 5px;
}
.headerBlueline {


	color: #FFFFFF;
	background-color: #02222F;
}
.collightGreynoPAD {


	background-color: #EAEAEA;
}
